<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- Arguments -->
  <arg name="agent_name" default="nexus"/>
  <arg name="initial_beta" default="10.0"/>
  <arg name="gamma" default="10.0"/>
  <arg name="initial_ts_state_from_agent" default="False"/>

  <!-- Load parameters -->
  <!-- Agent name -->
  <param name="agent_name" type="string" value="$(arg agent_name)" />
  <!-- hard and soft task parameters -->
  <rosparam command="load" file="$(find ltl_automaton_nexus)/config/nexus_ltl_irl_test_formula.yaml" />
  <!-- Transition system -->
  <param name="transition_system_textfile" type="str" textfile="$(find ltl_automaton_nexus)/config/nexus_ts.yaml" />
  <!-- Initial value of beta and gamme-->
  <param name="initial_beta" type="double" value="$(arg initial_beta)" />
  <param name="gamma" type="double" value="$(arg gamma)" />

  <!-- Run LTL planner node -->
  <include file="$(find ltl_automaton_planner)/launch/ltl_planner.launch" >
    <arg name="initial_ts_state_from_agent" default="True"/>
  </include>
  <group ns="ltl_planner/plugin">
      <group ns="TrapDetectionPlugin">
          <param name="path" value="ltl_automaton_hil_mic.trap_detection"/>
          <param name="args" value=""/>
      </group>
      <group ns="IRLPlugin">
          <param name="path" value="ltl_automaton_hil_mic.inverse_reinforcement_learning"/>
          <param name="args" value=""/>
      </group>  
  </group>

</launch>
