<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- Arguments -->
  <arg name="agent_name" default="nexus"/>
  <arg name="initial_ts_state_from_agent" default="False"/>

  <!-- Load parameters -->
  <!-- Agent name -->
  <param name="agent_name" type="string" value="$(arg agent_name)" />
  <!-- hard and soft task parameters -->
  <rosparam command="load" file="$(find ltl_automaton_core)/config/test_ltl_formula.yaml" />
  <!-- Transition system -->
  <param name="transition_system_textfile" type="str" textfile="$(find ltl_automaton_core)/config/test_ts.yaml" />

  <!-- Run LTL planner node -->
  <include file="$(find ltl_automaton_core)/launch/ltl_planner.launch" >
    <arg name="initial_ts_state_from_agent" default="False"/>
  </include>

  <!-- Run Nexus LTL node -->
  <node name="ltl_automaton_nexus_node" pkg="ltl_automaton_nexus" type="ltl_automaton_nexus_node.py" output="screen" />

</launch>
